

$cardHeight: 666px;
$cardWidth: 444px;

$cardTransitionDuration: 1.2s;
$cardSideTransitionDuration: $cardTransitionDuration * 0.9;

.card {
  position: absolute;

  height: $cardHeight;
  width: $cardWidth * 2;

  top: 0;
  left: 0;
  transform: translate(0, 0);
  
  transition: all $cardTransitionDuration ease-in-out;
  // transition: all 5s ease-out;

  perspective: 900px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.card .card-side {
  position: absolute;
  height: $cardHeight;
  width: $cardWidth;
  
  top: 0;
  left: 50%;
  
  background-color: rgb(255, 255, 255);
  
  z-index: 0;

  transform-style: preserve-3d;
  // backface-visibility: hidden;

  transition: transform $cardSideTransitionDuration linear,
              visibility 0s linear $cardSideTransitionDuration / 2;
}


// .card .card-side.front {
//   background-image: url('../images/cards/card-0-0.svg');
// }
// .card .card-side.left {
//   background-image: url('../images/cards/card-0-1.svg');
// }
// .card .card-side.right {
//   background-image: url('../images/cards/card-0-2.svg');
// }


.card .card-side.front {
  z-index: 2;
  transform-origin: 0% 50%;
  // opacity: 0;
}
.card .card-side.left {
  z-index: 1;
  transform-origin: 0% 50%;
  transform: rotateY(180deg) translateX(-$cardWidth);
  // backface-visibility: hidden;
  visibility: hidden;
}
.card .card-side.right {
  z-index: 0;
  // opacity: 0;
}


.card.opacity-0 {
  opacity: 0;
}

.card.active {
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%) rotateY(0deg) !important;
  z-index: 10 !important;
}

.card[data-open="true"] {
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%) rotateY(0deg) !important;
  z-index: 10 !important;
}


.card.active .card-side.front {
  transform: rotateY(-180deg);
  visibility: hidden;
}
.card.active .card-side.left {
  transform: rotateY(0deg) translateX(-$cardWidth);
  z-index: 3;
  visibility: visible;
}
.card.active .card-side.right {
  // transform: translateX($cardWidth);
}

.card[data-open="true"] .card-side.front {
  transform: rotateY(-180deg);
  visibility: hidden;
}
.card[data-open="true"] .card-side.left {
  transform: rotateY(0deg) translateX(-$cardWidth);
  z-index: 3;
  visibility: visible;
}
.card[data-open="true"] .card-side.right {
  // transform: translateX($cardWidth);
}


#card-0 {
  transform: scale(0.38) translate(-340px, -170px) rotateZ(1deg);
}

#card-1 {
  transform: scale(0.38) translate(265px, -170px) rotateZ(-2deg);
}

#card-2 {
  transform: scale(0.38) translate(-600px, 740px) rotateZ(2deg);
}

#card-3 {
  transform: scale(0.38) translate(20px, 740px) rotateZ(0deg);
}

#card-4 {
  transform: scale(0.38) translate(620px, 740px) rotateZ(2deg);
}



// hover
// .card .card-side:hover {
//   transform: scale(1.05);
//   transition: transform 0.3s ease;
// }




// #card-0 .card-side.front {
//   background-image: url('../images/cards/card-0-0.svg');
// }
// #card-0 .card-side.left {
//   background-image: url('../images/cards/card-0-1.svg');
// }
// #card-0 .card-side.right {
//   background-image: url('../images/cards/card-0-2.svg');
// }

// #card-1 .card-side.front {
//   background-image: url('../images/cards/card-1-0.svg');
// }
// #card-1 .card-side.left {
//   background-image: url('../images/cards/card-1-1.svg');
// }
// #card-1 .card-side.right {
//   background-image: url('../images/cards/card-1-2.svg');
// }

// #card-2 .card-side.front {
//   background-image: url('../images/cards/card-2-0.svg');
// }
// #card-2 .card-side.left {
//   background-image: url('../images/cards/card-2-1.svg');
// }
// #card-2 .card-side.right {
//   background-image: url('../images/cards/card-2-2.svg');
// }


// #card-3 .card-side.front {
//   background-image: url('../images/cards/card-3-0.svg');
// }
// #card-3 .card-side.left {
//   background-image: url('../images/cards/card-3-1.svg');
// }
// #card-3 .card-side.right {
//   background-image: url('../images/cards/card-3-2.svg');
// }


// #card-4 .card-side.front {
//   background-image: url('../images/cards/card-4-0.svg');
// }
// #card-4 .card-side.left {
//   background-image: url('../images/cards/card-4-1.svg');
// }
// #card-4 .card-side.right {
//   background-image: url('../images/cards/card-4-2.svg');
// }


#card-0 {
  z-index: 5;
}
#card-1 {
  z-index: 4;
}
#card-2 {
  z-index: 3;
}
#card-3 {
  z-index: 2;
}
#card-4 {
  z-index: 1;
}


.card.close-button:after {
  content: "X";
  position: absolute;
  
  width: 40px;
  height: 40px;
  
  background-color: rgb(45, 137, 185);
  
  color: rgb(255, 255, 255);
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;

  top: -10px;
  right: -10px;
  
  z-index: 1;
  border-radius: 50%;
}